@font-face {
  font-family: Oswald;
  src: url("./Oswald-VariableFont_wght.ttf");
}

body {
  background-color: #616161;
  font-family: Oswald;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald !important;
}
.MuiTab-wrapper {
  font-family: Oswald !important;
}

.MuiAvatar-img {
  filter: drop-shadow(0 0 0.15rem black);
}

.MuiAvatar-img[alt~="car"] {
  filter: drop-shadow(0 0 0.15rem #959796);
}

div.MuiDrawer-root > .MuiDrawer-paper {
  background-color: #8e8e8e ;
}

.progress-stat-bar.MuiLinearProgress-colorSecondary {
  background-color: rgba(0, 0, 0, 0);
}
.progress-stat-bar > .MuiLinearProgress-barColorSecondary {
  background-color: #8e0000; // use secondary.dark instead of .main
}

.game-with-division-1 {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.game-with-division-1::before {
  content: "";
  position: absolute;
  background-image: url("/RLL_logo.png");
  background-size: cover;
  background-position: left;
  width: 100%; height: 100%;
  filter: contrast(40%) opacity(50%);
  z-index: -1;
}
.game-with-division-2 {
  // background-color: rgb(99, 109, 99) !important;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.game-with-division-2::before {
  content: "";
  position: absolute;
  background-image: url("/RLL_logo_lower.png");
  background-size: cover;
  background-position: left;
  width: 100%; height: 100%;
  filter: contrast(40%) opacity(50%);
  z-index: -1;
}

// player season colorings
h4.player-season-1 {
  position: relative;
  padding: 24px;
  // cursor: pointer;
}
h4.player-season-1::before {
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background-image is RLL_logo_plain.svg
  background-image: url("/RLL_logo_plain.png");
  background-size: contain;
  // SEE https://codepen.io/sosuke/pen/Pjoqqp to create filter
  filter: invert(91%) sepia(64%) saturate(7500%) hue-rotate(356deg) brightness(102%) contrast(102%);
  content: "";
  margin-left: 8px;
}
.player-season-1-inside {
  position: relative;
  // color: #8e8e8e;
  margin-left: 10px;
  font-weight: 700;
  font-size: 3rem;
}

h4.player-season-2 {
  position: relative;
  padding: 24px;
  // cursor: pointer;
}
h4.player-season-2::before {
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background-image is RLL_logo_plain.svg
  background-image: url("/RLL_logo_plain.png");
  background-size: contain;
  // SEE https://codepen.io/sosuke/pen/Pjoqqp to create filter
  filter: invert(88%) sepia(37%) saturate(3659%) hue-rotate(120deg) brightness(104%) contrast(102%);
  content: "";
  margin-left: 8px;
}
.player-season-2-inside {
  position: relative;
  // color: #8e8e8e;
  margin-left: 10px;
  font-weight: 700;
  font-size: 3rem;
}

h4.player-season-3 {
  position: relative;
  padding: 24px;
  // cursor: pointer;
}
h4.player-season-3::before {
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background-image is RLL_logo_plain.svg
  background-image: url("/RLL_logo_plain.png");
  background-size: contain;
  // SEE https://codepen.io/sosuke/pen/Pjoqqp to create filter
  filter: invert(25%) sepia(62%) saturate(7431%) hue-rotate(292deg) brightness(113%) contrast(128%);
  content: "";
  margin-left: 8px;
}
.player-season-3-inside {
  position: relative;
  // color: #8e8e8e;
  margin-left: 10px;
  font-weight: 700;
  font-size: 3rem;
}

h4.player-season-4 {
  position: relative;
  padding: 24px;
  // cursor: pointer;
}
h4.player-season-4::before {
  color: white;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  // background-image is RLL_logo_plain.svg
  background-image: url("/RLL_logo_plain.png");
  background-size: contain;
  // SEE https://codepen.io/sosuke/pen/Pjoqqp to create filter
  filter: invert(83%) sepia(60%) saturate(407%) hue-rotate(56deg) brightness(101%) contrast(101%);
  content: "";
  margin-left: 8px;
}
.player-season-4-inside {
  position: relative;
  // color: #8e8e8e;
  margin-left: 10px;
  font-weight: 700;
  font-size: 3rem;
}

// override loading progress buffer styles
.MuiLinearProgress-dashed {
  animation: none !important;
}
.MuiLinearProgress-dashedColorSecondary {
  background-image: none !important;
  background-color: #0d0d0c;
}

// override dumb react-pivot styles
.reactPivot {
  background: inherit !important;
  color: inherit !important;
  margin-top: inherit;
  border-radius: 4px;
  font-family: Roboto;
  font-variant: small-caps;
}

.reactPivot-results tr:hover td {
  background-color: #8e000022 !important;
}

.reactPivot select {
  color: inherit !important;
  background-color: inherit !important;
}

.reactPivot-csvExport button {
  color: inherit !important;
  background-color: inherit !important;
  border: inherit !important;
}

.reactPivot-csvExport button:hover {
  background-color: #8e000022 !important;
}

.reactPivot tr.reactPivot-level-0 {
  font-weight: 500;
  color: #4e0000;
  line-height: 1rem !important;
}

.reactPivot tr[class^="reactPivot-level-"] {
  line-height: 0.75rem;
}
